<script>
  (function(){
    var t=localStorage.getItem('wind-theme');
    var valid=['jungle','miami','ocean','ember'];
    if(t && valid.indexOf(t)>-1) document.documentElement.setAttribute('data-theme',t);
  })();
</script>
